@use "variaveis";
@use "hero";
@use "show";
@use "plans";

@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url(../../assets/fonts/Avenir-bold.woff2);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variaveis.$corDeFundo;
}

@mixin text($font-size: 16px) {
  font-size: $font-size;
  line-height: $font-size + 10px;
}

@mixin title($font-size: 40px) {
  @include text($font-size);
  color: variaveis.$corDoTexto2;
}

.text--big {
  @include text(18px);
}

.text {
  @include text;
  color: variaveis.$corDoTexto;
}

.text--small {
  @include text(12px);
  color: variaveis.$corDoTexto;
}

.title--big {
  @include title(44px);
}

.title {
  @include title;
  color: variaveis.$corDoTexto2;
}

.title--small {
  @include title(28px);
  color: variaveis.$corDoTexto2;
}

.link-text {
  @include text(18px);
  color: variaveis.$corDoTexto2;
  text-emphasis: underline;
}

.button {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variaveis.$corDoTexto2;
  background-color: #6421ff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 2vw;
  margin-bottom: 8px;
}
